n8n/axis_workflow_twilio_test.json
{
  "name": "AXIS — Produção Twilio (WhatsApp Teste)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "axis/v1/whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node_01",
      "name": "01 Webhook Twilio Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Twilio envia dados em x-www-form-urlencoded (ex: Body, From, ProfileName)\nconst rawPhone = body.From || body.phone || '';\nconst phone = rawPhone.replace(/\\D/g, '');\nconst message = (body.Body || body.message || '').trim();\nconst name = body.ProfileName || body.name || null;\nconst channel = 'whatsapp';\n\nconst identifier = phone;\n\nif (!identifier) throw new Error('Campo obrigatório ausente: From/phone');\nif (!message) throw new Error('Campo obrigatório ausente: Body/message');\n\nlet propertyRef = body.property_code || null;\nif (!propertyRef) {\n  const codeMatch = message.match(/\\bREF[-_]?\\d+\\b/i);\n  propertyRef = codeMatch ? codeMatch[0].toUpperCase().replace(/[-_]/g, '') : null;\n}\n\nreturn [{\n  json: {\n    identifier,\n    channel,\n    message,\n    property_ref: propertyRef,\n    name\n  }\n}];"
      },
      "id": "node_02",
      "name": "02 Code: Normaliza Payload Twilio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": false,
        "limit": 1,
        "filterByFormula": "=property_code.eq.{{ $json.property_ref }}",
        "options": {}
      },
      "id": "node_03",
      "name": "03 Supabase: Get Property",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "customers",
        "returnAll": false,
        "limit": 1,
        "filterByFormula": "=channel_user_id.eq.{{ $('02 Code: Normaliza Payload Twilio').item.json.identifier }}",
        "options": {}
      },
      "id": "node_04_a",
      "name": "04A Supabase: Get Customer",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node_04_b",
      "name": "04B IF Customer Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "customers",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "={{ $('02 Code: Normaliza Payload Twilio').item.json.channel }}"
            },
            {
              "fieldId": "channel_user_id",
              "fieldValue": "={{ $('02 Code: Normaliza Payload Twilio').item.json.identifier }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('02 Code: Normaliza Payload Twilio').item.json.name }}"
            }
          ]
        }
      },
      "id": "node_04_c",
      "name": "04C Supabase: Create Customer",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { customer_id: $json.id || $('04B IF Customer Exists').item.json.id } }];"
      },
      "id": "node_04_d",
      "name": "04D Merge Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sessions",
        "returnAll": false,
        "limit": 1,
        "filterByFormula": "=channel_user_id.eq.{{ $('02 Code: Normaliza Payload Twilio').item.json.identifier }},is_active.eq.true",
        "options": {
          "sort": "created_at:desc"
        }
      },
      "id": "node_05_a",
      "name": "05A Supabase: Get Active Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node_05_b",
      "name": "05B IF Session Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        500
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "sessions",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "={{ $('02 Code: Normaliza Payload Twilio').item.json.channel }}"
            },
            {
              "fieldId": "channel_user_id",
              "fieldValue": "={{ $('02 Code: Normaliza Payload Twilio').item.json.identifier }}"
            },
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $('04D Merge Customer').item.json.customer_id }}"
            },
            {
              "fieldId": "current_state",
              "fieldValue": "recepcao"
            },
            {
              "fieldId": "is_active",
              "fieldValue": true
            },
            {
              "fieldId": "loop_counter",
              "fieldValue": 0
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('03 Supabase: Get Property').item.json[0]?.id || null }}"
            }
          ]
        }
      },
      "id": "node_05_c",
      "name": "05C Supabase: Create Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1700,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const s = $json.id ? $json : $('05B IF Session Exists').item.json;\nreturn [{ json: { session_id: s.id, current_state: s.current_state, property_id: s.property_id || ($('03 Supabase: Get Property').item.json[0] ? $('03 Supabase: Get Property').item.json[0].id : null), loop_counter: s.loop_counter || 0 } }];"
      },
      "id": "node_05_d",
      "name": "05D Merge Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        500
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "messages",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('05D Merge Session').item.json.session_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('02 Code: Normaliza Payload Twilio').item.json.message }}"
            }
          ]
        }
      },
      "id": "node_06",
      "name": "06 Supabase: Save Inbound Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2100,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "messages",
        "returnAll": false,
        "limit": 15,
        "filterByFormula": "=session_id.eq.{{ $('05D Merge Session').item.json.session_id }}",
        "options": {
          "sort": "created_at:asc"
        }
      },
      "id": "node_07",
      "name": "07 Supabase: Get History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2300,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $('05D Merge Session').item.json;\nconst inbound = $('02 Code: Normaliza Payload Twilio').item.json.message;\nlet propertyStr = '';\nif ($('03 Supabase: Get Property').item.json && $('03 Supabase: Get Property').item.json[0]) {\n  const p = $('03 Supabase: Get Property').item.json[0];\n  propertyStr = `\\nIMÓVEL EM CONTEXTO: [${p.property_code}] ${p.title} (Bairro: ${p.neighborhood})`;\n}\nconst history = $input.all().map(i => `[${i.json.role.toUpperCase()}]: ${i.json.content}`).join('\\n');\n\nconst systemPrompt = `Você é a Axis, assistente virtual da Ética responsável por triagem, atendimento imobiliário e handoff seguro. Você tem uma linguagem natural, elegante e humanizada.\n\nDIRETRIZ DE OPÇÕES INTERATIVAS (BALIZAMENTO ELEGANTE)\nEm vez de depender de menus numéricos como URAs ou listar opções duras, você deve balizar a navegação do cliente suavemente ao fim da sua fala. Identifique o momento da conversa e preencha a propriedade \"sugestoes_elegantes\" com o exato array de opções listadas abaixo.\n\n1. ETAPA INICIAL (O cliente apenas disse oi ou genérico):\n[\"Comprar imóvel\", \"Alugar imóvel\", \"Sou locatário\", \"Sou proprietário\", \"Falar com especialista\"]\n\n2. CONTEXTO DE IMÓVEL (O cliente possui imóvel no contexto ou perguntou sobre um REF):\n[\"Agendar visita\", \"Receber mais detalhes\", \"Fazer proposta\", \"Falar com especialista\"]\n\n3. PERFIL IDENTIFICADO COMERCIAL (Lead validado):\n[\"Ver opções\", \"Agendar visita\", \"Falar com especialista\"]\n\n4. PERFIL IDENTIFICADO LOCATÁRIO:\n[\"Manutenção\", \"Boleto\", \"Contrato\", \"Falar com especialista\"]\n\n5. PERFIL IDENTIFICADO PROPRIETÁRIO:\n[\"Repasse\", \"Extrato\", \"Situação do imóvel\", \"Falar com especialista\"]\n\n6. POSSÍVEL ATRITO OU DESPEDIDA (Handoff iminente):\n[\"Continuar com a Axis\", \"Falar com atendente\", \"Encerrar atendimento\"]\n\nIMPORTANTE: Se a conversa fluir pacificamente (\"Quero uma casa no Leblon com 3 quartos\"), você deve usar [] nas \"sugestoes_elegantes\" (vazio). Mas sempre que precisar que o cliente faça uma triagem direta, preencha a lista com o array exato do tópico desejado. Lembre-se de interpretar qualquer palavra-chave solta nas respostas (Ex: \"comprar\", \"boleto\", \"atendente\", \"agendar\") com alta eficácia analítica e deduzir a escolha!\n\n${propertyStr}\n\nHISTÓRICO:\n${history}\n\nRETORNE APENAS UM JSON ESTRUTURADO:\n{\n  \"message_to_user\": \"Resposta humanizada de condução de conversa\",\n  \"sugestoes_elegantes\": [\"Opcao 1\", \"Opcao 2\"],\n  \"etapa_da_conversa\": \"string\",\n  \"handoff_recomendado\": boolean,\n  \"setor_destino\": \"string ou nulo\",\n  \"prioridade\": \"media/alta/etc\"\n}\n`;\n\nreturn [{ json: { system_prompt: systemPrompt, user_message: inbound, session_id: session.session_id, property_id: session.property_id, loop_counter: session.loop_counter } }];"
      },
      "id": "node_08",
      "name": "08 Code: Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        500
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.user_message }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "node_09",
      "name": "09 OpenAI Native: Axis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2700,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai_cred",
          "name": "OpenAI Config"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  let rawContent = $input.first().json.choices[0].message.content;\n  // Limpeza caso a OpenAI cuspa wrappers markdown\n  if (rawContent.startsWith('```json')) {\n    rawContent = rawContent.replace(/^```json/g, '').replace(/```$/g, '').trim();\n  }\n  const data = JSON.parse(rawContent);\n  \n  // Implementação de menu sutil e premium em linguagem natural\n  if (data.sugestoes_elegantes && Array.isArray(data.sugestoes_elegantes) && data.sugestoes_elegantes.length > 0) {\n    let addendum = '\\n\\n';\n    \n    // Fraseologia elegante contextual dependendo da primeira opção para soar mais fluido\n    const fl = data.sugestoes_elegantes[0].toLowerCase();\n    if (fl.includes('comprar')) {\n       addendum += 'Posso te ajudar com:\\n';\n    } else if (fl.includes('agendar')) {\n       addendum += 'Sobre esse imóvel, o que prefere fazer?\\n';\n    } else if (fl.includes('manutenção') || fl.includes('repasse')) {\n       addendum += 'Escolha o serviço desejado:\\n';\n    } else if (fl.includes('continuar com a axis')) {\n       addendum += 'Como prefere seguir?\\n';\n    } else {\n       addendum += 'Como posso te ajudar agora?\\n';\n    }\n\n    data.sugestoes_elegantes.forEach((opc) => {\n       addendum += `- ${opc}\\n`;\n    });\n    \n    addendum += '\\n*(Sinta-se à vontade para responder do seu jeito!)*';\n    \n    data.message_to_user = data.message_to_user + addendum;\n  }\n  \n  return [{ json: data }];\n} catch (e) {\n  throw new Error('Falha ao processar resposta da OpenAI: ' + e.message);\n}"
      },
      "id": "node_10",
      "name": "10 Code: Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        500
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "messages",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('08 Code: Build Prompt').item.json.session_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.message_to_user }}"
            }
          ]
        }
      },
      "id": "node_11",
      "name": "11 Supabase: Save Outbound Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3100,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "matchColumns": "id",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('08 Code: Build Prompt').item.json.session_id }}"
            },
            {
              "fieldId": "current_state",
              "fieldValue": "={{ $json.etapa_da_conversa }}"
            },
            {
              "fieldId": "loop_counter",
              "fieldValue": "={{ $('08 Code: Build Prompt').item.json.loop_counter + 1 }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('08 Code: Build Prompt').item.json.property_id }}"
            }
          ]
        }
      },
      "id": "node_12",
      "name": "12 Supabase: Update Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3100,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('10 Code: Parse Output').item.json.handoff_recomendado }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node_13_a",
      "name": "13A IF Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3300,
        500
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "handoff_tickets",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('08 Code: Build Prompt').item.json.session_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "aberto"
            },
            {
              "fieldId": "setor_destino",
              "fieldValue": "={{ $('10 Code: Parse Output').item.json.setor_destino }}"
            },
            {
              "fieldId": "prioridade",
              "fieldValue": "={{ $('10 Code: Parse Output').item.json.prioridade }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('08 Code: Build Prompt').item.json.property_id }}"
            }
          ]
        }
      },
      "id": "node_13_b",
      "name": "13B Supabase: Create Ticket",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3500,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "matchColumns": "id",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('08 Code: Build Prompt').item.json.session_id }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": false
            }
          ]
        }
      },
      "id": "node_13_c",
      "name": "13C Supabase: Close Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3700,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_cred",
          "name": "Supabase Config"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "whatsapp:+14155238886",
        "to": "={{ 'whatsapp:+' + $('02 Code: Normaliza Payload Twilio').item.json.identifier }}",
        "message": "={{ $('10 Code: Parse Output').item.json.message_to_user }}"
      },
      "id": "node_14_twilio",
      "name": "14 Twilio: Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        4000,
        500
      ],
      "credentials": {
        "twilioApi": {
          "id": "twilio_cred",
          "name": "Twilio Config"
        }
      }
    }
  ],
  "connections": {
    "04A Supabase: Get Customer": {
      "main": [
        [
          {
            "node": "04B IF Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04B IF Customer Exists": {
      "main": [
        [
          {
            "node": "04D Merge Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04C Supabase: Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04C Supabase: Create Customer": {
      "main": [
        [
          {
            "node": "04D Merge Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04D Merge Customer": {
      "main": [
        [
          {
            "node": "05A Supabase: Get Active Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Supabase: Get Property": {
      "main": [
        [
          {
            "node": "04A Supabase: Get Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05A Supabase: Get Active Session": {
      "main": [
        [
          {
            "node": "05B IF Session Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05B IF Session Exists": {
      "main": [
        [
          {
            "node": "05D Merge Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05C Supabase: Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05C Supabase: Create Session": {
      "main": [
        [
          {
            "node": "05D Merge Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05D Merge Session": {
      "main": [
        [
          {
            "node": "06 Supabase: Save Inbound Msg",
            "type": "main",
            "index": 0
          },
          {
            "node": "07 Supabase: Get History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 Supabase: Get History": {
      "main": [
        [
          {
            "node": "08 Code: Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 Code: Build Prompt": {
      "main": [
        [
          {
            "node": "09 OpenAI Native: Axis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 OpenAI Native: Axis": {
      "main": [
        [
          {
            "node": "10 Code: Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Code: Parse Output": {
      "main": [
        [
          {
            "node": "11 Supabase: Save Outbound Msg",
            "type": "main",
            "index": 0
          },
          {
            "node": "12 Supabase: Update Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Supabase: Update Session": {
      "main": [
        [
          {
            "node": "13A IF Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13A IF Handoff": {
      "main": [
        [
          {
            "node": "13B Supabase: Create Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14 Twilio: Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13B Supabase: Create Ticket": {
      "main": [
        [
          {
            "node": "13C Supabase: Close Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13C Supabase: Close Session": {
      "main": [
        [
          {
            "node": "14 Twilio: Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 Webhook Twilio Inbound": {
      "main": [
        [
          {
            "node": "02 Code: Normaliza Payload Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Code: Normaliza Payload Twilio": {
      "main": [
        [
          {
            "node": "03 Supabase: Get Property",
            "type": "main",
            "index": 0
          },
          {
            "node": "04A Supabase: Get Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}